<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
</head>

<body>
<!--/*
th:insert  ：保留自己这里的主标签，保留th:fragment的主标签。
th:replace ：不要自己这里的主标签，保留th:fragment的主标签。
th:include ：保留自己这里的主标签，不要th:fragment的主标签。
*/-->
<!--/*<header layout:fragment="header" style="background-color: #ff951b">
这里是头部 -&#45;&#45; layout.html
</header>*/-->

<div th:replace="layout/header :: header">
</div>
<!-- /* 带替换fragment */ -->
<div layout:fragment="content"/>
<div th:replace="layout/left :: left"/>
<div th:replace="layout/footer :: footer"/>
</body>
</html>