<!DOCTYPE html>
<html lang="zh-CN"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/layout">
<head>
    <title>登录页面</title>
    <link th:href="@{/webjars/bootstrap/3.3.5/css/bootstrap.min.css}" rel="stylesheet"/>
    <link th:href="@{/webjars/bootstrap/3.3.5/css/bootstrap-theme.min.css}" rel="stylesheet"/>
</head>

<body>
<!--/*
<header layout:fragment="header" style="background-color: blue">
    这里是头部 -&#45;&#45; login.html
</header>
*/-->
<p th:text="_">不进行任何操作</p>
<div layout:fragment="content">
    <div class="container-fluid">
        <div th:if="true">
            if条件判断---true
        </div>
        <div th:if="false">
            if条件判断---false
        </div>
        <div class="row">
            <div>
                <input type="text" class="form-control col-sm-12" placeholder="请输入账号名"/>
                <input type="password" class="form-control col-sm-12" placeholder="请输入密码"/>
                <input th:attr="type='button',value='${msg}'" />
                <input th:type="button" th:value="ok"/>
            </div>
        </div>
    </div>
</div>

<script th:src="@{/webjars/jquery/3.2.1/dist/jquery.min.js}"></script>
<script th:src="@{/webjars/bootstrap/3.3.5/js/bootstrap.min.js}"></script>
<script th:inline="javascript">
    //alert(1);
    $(function () {
        //alert(2);
    });
</script>
</body>
</html>